## Buatlah sebuah program yang:

   1. Meminta input dari pengguna:

       - Nama mahasiswa

       - NIM mahasiswa

       - Nilai ujian (dalam angka, 0â€“100)

   2. Cek dan tampilkan tipe data dari setiap input.

   3. Gunakan if-elif-else untuk menentukan kategori nilai, dengan kriteria sebagai berikut:
   
```
Nilai | Kategori
85 - 100 | A (Sangat Baik)
75 - 84 | B (Baik)
60 - 74 | C (Cukup)
40 - 59 | D (Kurang)
< 40 | E (Sangat Kurang)
```

```
==== Ekspektasi Output Jawaban : =====
Masukkan nama mahasiswa: Sarah
Masukkan NIM: 12345678
Masukkan nilai ujian (0-100): 81

Nama: Sarah (type: <class 'str'>)
NIM: 12345678 (type: <class 'str'>)
Nilai: 81 (type: <class 'int'>)

Hasil Evaluasi:
Mahasiswa: Sarah (NIM: 12345678)
Nilai Ujian: 81
Kategori Nilai: B (Baik)
```

In [ ]:
# running data secara manual, dengan proses assigning input - output
Nama= 'Nama: Sindi'
NIM= 'NIM: 6331169304'
Nilai= 'Nilai: 85.5'

print(Nama)
print(NIM)
print(Nilai)

Nama: Sindi
NIM: 6331169304
Nilai: 85.5

Conclution:

1. Hasil proses sudah sesuai dan benar dengan input output
2. Dari data tersebut terbaca dengan hasil nama, NIM, dan nilai mahasiswa

In [ ]:
# Pengklasifikasikan type data, categorical atau numerical
# String type ditandai dengan simbol petik (quotes) kemudian berisi alfabet
# Double quotes are the same as single quotes
Nama= 'Sindi'
NIM= 6331169304
Nilai= 85.5

print(type(Nama))
print(type(NIM))
print(type(Nilai))

<class 'str'>
<class 'int'>
<class 'float'>

Conclution:

1. Dengan rumus dtype maka akan muncul type data
2. Variabel Nama adalah type data String, variabel, NIM adalah type data Intejer, Variabel Nilai adalah type data Float

In [ ]:
# Note! Varibel diawali dengan alphabet
x= 'Hasil Evaluasi:'
y= 'Sindi (6331169304)'
z= 85.5
w= 85

print(x)
print(y)
print(z)

# Penggunaan Comparison Operators lebih besar dari >, sama dengan ==
# Penggunaan If Statement
if z>w:
  print('Kategori nilai A: Sangat Baik')
elif w==z:
  print('Remedial')

Hasil Evaluasi:
Sindi (6331169304)
85.5
Kategori nilai A: Sangat Baik

Conclution:

1. Kombinasi input - output dan if statement yang benar akan automatic memberikan hasil proses

2. Dengan rumus tersebut dapat diambil kesimpulan bahwa atas nama Sindi mendapatkan nilai dengan kategori sangat baik